body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #E6bFE0;
}

#main-container {
    width: 1770px;
    height: 2510px;
    background-color: #B27FA6;
}

#logo {
    margin-top: 100px;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#squiggly {
    max-width: 100%;
    max-height: 100%;
    width: 1770px;  
    margin-top: 490px;
}

a {
    color: whitesmoke;
}

ul {
    margin-top: 80px;
    background-color: #824E77;
    display: flex;
    position: static;
    justify-content: space-around;
    height: 30px;
    width: 1770px;
    top: 0px;
    padding: 10px;
    list-style: none;
    font-family: felipa, cursive;
    font-size: 35px;
    align-items: center;
} 

.one {
    background-color: #E6bFE0;
    justify-content: center;
    margin-left: 100px;
    font-family: 'Asul', sans-serif;
    padding: 10px;
    font-size: 20px;
}

#first {
    justify-content: center;
    height: 360px;
    width: 660px;
    margin-top: 40px;
}

#second {
    margin: 100px;
    background-color: #E6bFE0;
    height: 360px;
    width: 660px;
    margin-left: 1000px;
    margin-top: -640px;
    font-family: 'Asul', sans-serif;
    padding: 10px;
    font-size: 20px;
}

#third {
    background-color: #E6bFE0;
    width: 1562px;
    height: 200px;
    flex-direction: column;
}



