body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #E6bFE0;
}

#main-container {
    width: 1770px;
    height: 2510px;
    background-color: #B27FA6;
}

#logo {
    margin-top: 100px;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-top: 200px;
    background-color: #824E77;
    display: flex;
    position: static;
    justify-content: space-around;
    width: 1770px;
    height: 25px;
    top: 0px;
    padding: 10px;
    list-style: none;
}

.one {
    background-color: #E6bFE0;
    justify-content: center;
    margin-left: 100px;
}

#first {
    justify-content: center;
    height: 360px;
    width: 660px;
    margin-top: 100px;
}

#second {
    background-color: #E6bFE0;
    width: 662px;
    height: 300px;
    flex-direction: column;
}

#image {
    margin: 100px;
    background-color: #E6bFE0;
    height: 360px;
    width: 660px;
    margin-left: 1000px;
    margin-top: -700px;
}

