body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #B27FA6;
}

#main-container {
    width: 1770px;
    height: 3510px;
    background-color: #E6bFE0;
}

ul {
    margin-top: 200px;
    background-color: #824E77;
    display: flex;
    position: static;
    justify-content: space-around;
    width: 100%;
    top: 0px;
    padding: 10px;
    list-style: none;
} 

/* images start */
#color {
    width: 250px;        
    border: 5px solid black;
}

#colorportrait {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#sk {
    width: 250px;        
    border: 5px solid black;
}

#skeleton {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
#turtle {
    width: 250px;        
    border: 5px solid black;
}

#cardboardturtle {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#depth {
    width: 250px;        
    border: 5px solid black;
}

#spatialdepth {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#graphab {
    width: 250px;        
    border: 5px solid black;
}

#graphiteabstract {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
/* images end */

