body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #B27FA6;
}

#main-container {
    width: 1770px;
    height: 3510px;
    background-color: #E6bFE0;
}

/* #logo {
    margin-top: 50px;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
} */

#squiggly {
    max-width: 100%;
    max-height: 100%;
    width: 1770px;  
}

a {
    color: whitesmoke;
}

.menu {
    position: relative;
    transition-property: color;
    transition-duration: .5s;
    margin-top: -5px;
    background-color: #824E77;
    display: flex;
    position: static;
    justify-content: space-around;
    height: 30px;
    width: 1750px;
    top: 0px;
    padding: 10px;
    list-style: none;
    font-family: felipa, cursive;
    font-size: 35px;
    align-items: center;
} 

#menubutton:hover {
    transition-property: color;
    transition-duration: .5s;
    color: #FFD700;
    }

/* images start */
#color {
    width: 350px;        
    border: 5px solid black;
    margin-left: 200px;
    flex-direction: column;
    margin-bottom: 20px;
}

#colorportrait {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#sk {
    width: 350px;        
    border: 5px solid black;
    margin-bottom: 100px;
    flex-direction: column;
    margin-left: 200px;
}

#skeleton {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#turtle {
    width: 350px;        
    border: 5px solid black;
    flex-direction: column;
    margin-left: 650px;
    margin-top: -900px;
    margin-bottom: 20px;
}

#cardboardturtle {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#depth {
    width: 350px;        
    border: 5px solid black;
    flex-direction: column;
    margin-left: 650px;
}

#spatialdepth {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#graphab {
    width: 350px;        
    border: 5px solid black;
    flex-direction: column;
    margin-left: 1100px;
    margin-top: -650px;
}

#graphiteabstract {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
/* images end */
