body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #E6bFE0
}

#main-container {
    width: 1770px;
    height: 2510px;
    background-color: #B27FA6;
}

#logo {
    margin-top: -500px;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top {
   
}

#squiggly {
    max-width: 100%;
    max-height: 100%;
    width: 1770px;  
    margin-top: -500px;
   
}

h1 {
    margin-top: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px; 
    font-family: felipa, cursive;
}

ul {
    margin-top: 80px;
    background-color: #824E77;
    display: flex;
    position: static;
    justify-content: space-around;
    height: 25px;
    width: 1770px;
    top: 0px;
    padding: 10px;
    list-style: none;
    font-family: felipa, cursive;
    font-size: 25px;
    align-items: center;
} 

.one {
    /* first paragraph about me */
    /* width: 562px;
    height: 362px; */
    background-color: #E6bFE0;
    justify-content: center;
    margin-left: 100px;
}

#first {
    justify-content: center;
    height: 360px;
    width: 662px;
    margin-top: 100px;
    /* border: solid 1px #824E77 */
}

#second {
    /* margin-left: 660px; */
    background-color:#E6bFE0;
    width: 662px;
    height: 300px;
    flex-direction: column;
}

#image {
    /* margin-top: 100px; */
    /* margin-left: 50px; */
    margin: 100px;
    background-color: #E6bFE0;
    width: 662px;
    height: 685px;
    margin-left: 1000px;
    margin-top: -700px;
}

#picofme {
    max-width: 100%;
    max-height: 100%;
    width: 350px;   
    margin-left: 24%;
    margin-top: 15%;
}

