body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #E6bFE0
}

#main-container {
    width: 1770px;
    height: 2510px;
    background-color: #B27FA6;
}

#logo {
    margin-top: 100px;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

ul {
    margin-top: 200px;
    background-color: #824E77;
    display: flex;
    position: static;
    justify-content: space-around;
    height: 50px;
    width: 1775px;
    top: 0px;
    padding: 10px;
    list-style: none;
} 

#next {
    /* margin-top: 100px; */
    background-color: #B27FA6;
}

#one {
    /* first paragraph about me */
    margin-top: 100px; 
    margin-left: 50px;
    background-color: #E6bFE0;
    width: 562px;
    height: 362px;
}

#image {
    /* margin-top: 100px; */
    /* margin-left: 50px; */
    background-color: #E6bFE0;
    width: 562px;
    height: 662px;
}

